<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}{{object.title}}{% endblock %}
{% block styles %}
@import url(/static/styles/bracket.css);
{% endblock %}
{% block maincontent %}
<h1>{{object.title}}</h1>
<body>
  <div class="tournament8-wrap">
    <div class="round4-top winner4">Winner: {{comp_3_1.winner.name}}</div>
    <div class="round3-topwrap">
        <div class="round3-top">{{comp_3_1.competitor_a.name}}</div>
        <div class="round2-topwrap">
            <div class="round2-top">{{comp_2_1.competitor_a.name}}</div>
            <div class="round1-top">{{comp_1_1.competitor_a.name}}</div>
            <div class="round1-bottom">{{comp_1_1.competitor_b.name}}</div>
        </div>
        <div class="round2-bottomwrap">
            <div class="round2-bottom">{{comp_2_1.competitor_b.name}}</div>
            <div class="round1-top">{{comp_1_2.competitor_a.name}}</div>
            <div class="round1-bottom">{{comp_1_2.competitor_b.name}}</div>
        </div>
    </div>
    <div class="round3-bottomwrap">
        <div class="round3-bottom">{{comp_3_1.competitor_b.name}}</div>
        <div class="round2-topwrap">
            <div class="round2-top">{{comp_2_2.competitor_a.name}}</div>
            <div class="round1-top">{{comp_1_3.competitor_a.name}}</div>
            <div class="round1-bottom">{{comp_1_3.competitor_b.name}}</div>
        </div>
        <div class="round2-bottomwrap">
            <div class="round2-bottom">{{comp_2_2.competitor_b.name}}</div>
            <div class="round1-top">{{comp_1_4.competitor_a.name}}</div>
            <div class="round1-bottom">{{comp_1_4.competitor_b.name}}</div>
        </div>
    </div>
  </div>
</body>
<a href="/modify/{{object.id}}"/>Update Bracket</a>
{% endblock %}
</html>
