<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}{{object.title}}{% endblock %}
{% block styles %}
@import url(/static/styles/bracket.css);
{% endblock %}
{% block maincontent %}
<h1>{{object.title}}</h1>
<body>
  <div class="tournament8-wrap">
    <div class="round4-top winner4">Winner</div>
    <div class="round3-topwrap">
        <div class="round3-top">Top finalist</div>
        <div class="round2-topwrap">
            <div class="round2-top">Round top top</div>
            <div class="round1-top">{{seed_0}}</div>
            <div class="round1-bottom">{{seed_1}}</div>
        </div>
        <div class="round2-bottomwrap">
            <div class="round2-bottom">Round top bottom</div>
            <div class="round1-top">{{seed_2}}</div>
            <div class="round1-bottom">{{seed_3}}</div>
        </div>
    </div>
    <div class="round3-bottomwrap">
        <div class="round3-bottom">Bottom finalist</div>
        <div class="round2-topwrap">
            <div class="round2-top">Round bottom top</div>
            <div class="round1-top">{{seed_4}}</div>
            <div class="round1-bottom">{{seed_5}}</div>
        </div>
        <div class="round2-bottomwrap">
            <div class="round2-bottom">Round bottom bottom</div>
            <div class="round1-top">{{seed_6}}</div>
            <div class="round1-bottom">{{seed_7}}</div>
        </div>
    </div>
</div>
</body>
<a href="/modify/{{object.id}}"/>Update Bracket</a>
{% endblock %}
</html>
